#search_bar_form{
	margin: 5px 200px 5px 300px;
}

#search_button{
	margin-left: 100px;
	text-align: center;
	background-color: lightblue;
	padding:10px;
	font-size: 50px;
	box-sizing: border-box;
}

