.main{
	margin: 20px;
}

table {
    margin: 20px 100px;
    border-collapse: collapse;
}

table td {
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

#manage_book{
	margin-left: 100px;
}