body{
	width: 1000px;
	margin: auto;
	display: block;
}

header{
	margin-top: 20px;
}

a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a:active{
	text-decoration: underline;
}

footer{
	clear: both;
	margin: auto;
}